global
    log stderr local0
    maxconn 4096

defaults
    log global
    mode tcp
    retries 3
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    option tcpka

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend write_frontend
    bind *:5432
    mode tcp
    option tcplog
    default_backend postgresql_write_backend

backend postgresql_write_backend
    mode tcp
    option httpchk
    http-check send meth GET uri /master
    http-check expect status 200
    server postgres-1 postgres-1:5432 check port 8008 resolvers docker
    server postgres-2 postgres-2:5432 check port 8008 resolvers docker

frontend read_frontend
    bind *:5433
    mode tcp
    option tcplog
    default_backend postgresql_read_backend

backend postgresql_read_backend
    mode tcp
    option httpchk
    http-check send meth GET uri /replica
    http-check expect status 200
    server postgres-1 postgres-1:5432 check port 8008 resolvers docker
    server postgres-2 postgres-2:5432 check port 8008 resolvers docker
