VITE_APP_API_URL=
VITE_APP_ENABLE_API_MOCKING=false
VITE_APP_APP_URL=http://localhost:60743
VITE_APP_APP_MOCK_API_PORT=443
VITE_APP_PAGE_SIZE=20
VITE_APP_PAGE_NUMBER=1
VITE_APP_MSAL_CLIENT_ID=
VITE_APP_MSAL_AUTHORITY=https://login.microsoftonline.com/common
VITE_APP_MSAL_API_SCOPE=
VITE_APP_CF_BEACON_TOKEN=
VITE_APP_CONTACT_EMAIL=info@bjj-eire.com
VITE_APP_SOCIAL_INSTAGRAM_URL=
VITE_APP_SOCIAL_FACEBOOK_URL=
VITE_APP_GITHUB_URL=
