{
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": true,
    "semi": false,
    "printWidth": 80,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf"
  }